h1{
    text-align: center;
}
h2{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.noidung{
    margin-left: 10px;
}
u{
    margin: 5px;
}

a{
    margin: 5px;
}
p{
    margin: 5px;
}
